.woman-container{
    margin-left: 100px;
}
p.heading-woman{
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
    color: #343434;
    margin: 60px 0px 10px 0px;
    border-bottom: 1px solid #f9eb28;
    display: inline-block
}
.for-shirts-pants-woman{
    width: 100%;
}
.for-shirts-pants-woman img{
    width: 180px;
    text-align: center;
    padding: 5px 5px;
    
}
@media screen and (max-width:768px) {
    .woman-container{
        margin-left: 20px;
    }
    p.heading-woman{
        font-size: 15px;
        margin: 20px 0px 10px 0px;
    }
    .for-shirts-pants-woman img{
        width: 45px;
        
    }

    
}