.free-shipping img{
    width: 1170px;
}
.free-shipping{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
@media screen and (max-width:768px){
    .free-shipping img{
        width: 350px;
    }
    .free-shipping{
        margin-top: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
    }
}