.firstSlide {
  background: #f8eb27;
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  color: #1d1d1d;
  text-align: center;
}
.secondSlide {
  background-color: black;
  padding: 7px 0;
}
.secondSlide .secondSlide-Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondSlide-Top {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}
.secondSlide .secondSlide-Top .leftSide a svg {
  margin-right: 10px;
  vertical-align: middle;
}
.secondSlide .secondSlide-Top .leftSide a {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.rightSlide {
  color: #fff;
}
.rightSlide a {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 10px;
  text-decoration: none;
  background: none;
}
.activeBtnLogin {
  padding-right: 10px;
  border-right: 1px solid #fff;
  margin-right: 10px;
}
.header_container {
  background: #fff;
}

/* .header_container.fixed-header{
  position: sticky;
  top: 0px;
  animation: slide-down 0.7s;
  width: 100%;
  z-index: 999;
  border-bottom: solid #e1e1e1 1px;
  background: #fff;
} */

.header_container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header_container .container .left {
  display: flex;
  align-items: center;
}
.header_container .container .left svg {
  cursor: pointer;
}
.header_container .container .left figure {
  margin-right: 15px;
}
ul {
  list-style: none;
}
.menuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_container .menuBar li .menu-title {
  padding: 12px 20px;
}
.menuBar li .menu-title {
  display: inline-block;
  padding: 12px 13px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menuBar li .menu-title:hover {
  background-color: yellow;
}
.right {
  display: flex;
  gap: 0.3rem;
}
.right .searchBar {
  display: inline-block;
  position: relative;
  margin-top: 1.5px;
}
.search-bar {
  margin-top: 18px;
  background-color: #fff;
  padding: 0.7rem;
  border: none;
  > input {
    outline: none;
    width: 250px;
    border-radius: unset;
    border: 0.5px solid #ddc9c9;
    height: 2rem;
    padding-left: 3px;
  }
  > button {
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    height: 2.3rem;
    cursor: pointer;
  }
}
.wishlist-icon {
  margin-left: 18px;
}
.cart-icon {
  background: none;
  border: none;
  list-style: none;
}

/* @media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    text-align: center;
  }
  .menuBar {
    display: none;
  }
} */
@media screen and (max-width: 768px) {
  .navbar.small-screen {
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    /* Add other styles for small screens */
  }
  .menuBar {
    display: none;
  }
}